<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Numberpattii.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C65F92B82BD34C830063832D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C65F92D32BD34C850063832D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C65F92DD2BD34C850063832D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
